In [12]:
import pandas as pd
import numpy as np

## Rentals Data Preprocessing

In [131]:
# Step 1: Read CSV data into a pandas DataFrame with the first row as the header
rentals = pd.read_csv('rental_zip.csv', header=0)

# Step 2: Unpivot columns other than selected few columns to get long format data
# Replace 'selected_columns' with the columns you want to keep in the long format
selected_columns = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName']
id_vars = [col for col in rentals.columns if col not in selected_columns]

rentals_long = pd.melt(rentals, id_vars=selected_columns, var_name='Date', value_name='Rent')

# Step 3: Convert a column to date format (replace 'date_column' with the actual date column name)
rentals_long['Date'] = pd.to_datetime(rentals_long['Date'], format='%Y-%m-%d')  # Adjust the date format as needed

# Step 4: Removing duplicate columns
rentals_long = rentals_long.drop(['RegionType', 'StateName'], axis=1)

# Now df_long contains your data in long format with the specified date column in datetime format
rentals_long

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,Date,Rent
0,91982,1,77494,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2015-01-31,1706.250924
1,91940,3,77449,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2015-01-31,1328.795556
2,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2015-01-31,NaN
3,93144,6,79936,TX,El Paso,"El Paso, TX",El Paso County,2015-01-31,NaN
4,62093,7,11385,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2015-01-31,NaN
...,...,...,...,...,...,...,...,...,...
724147,60648,27708,7311,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,2023-08-31,4017.756614
724148,418163,30158,89158,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,2023-08-31,3708.777778
724149,72017,30490,32461,FL,Panama City Beach,"Crestview-Fort Walton Beach-Destin, FL",Walton County,2023-08-31,2578.000000
724150,91179,30490,76005,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,2023-08-31,2131.533333
724151,61618,30490,10004,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2023-08-31,4492.828283

## Home Value Data Preprocessing

In [132]:
# Step 1: Read CSV data into a pandas DataFrame with the first row as the header
home_value = pd.read_csv('home_value_zip.csv', header=0)

# Step 2: Unpivot columns other than selected few columns to get long format data
# Replace 'selected_columns' with the columns you want to keep in the long format
selected_columns = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName']
id_vars = [col for col in rentals.columns if col not in selected_columns]

home_value_long = pd.melt(home_value, id_vars=selected_columns, var_name='Date', value_name='Homevalue')

# Step 3: Convert a column to date format (replace 'date_column' with the actual date column name)
home_value_long['Date'] = pd.to_datetime(home_value_long['Date'], format='%m/%d/%y')  # Adjust the date format as needed

# Step 4: Removing duplicate columns
home_value_long = home_value_long.drop(['RegionType', 'StateName'], axis=1)

# Now df_long contains your data in long format with the specified date column in datetime format
home_value_long[home_value_long['RegionID'] == 91733]

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,Date,Homevalue
4,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,102704.0686
26377,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-02-29,102660.9955
52750,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-03-31,102478.6194
79123,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-04-30,102395.2984
105496,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-05-31,102370.5128
...,...,...,...,...,...,...,...,...,...
7358071,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2023-04-30,271383.9216
7384444,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2023-05-31,271240.3410
7410817,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2023-06-30,271842.3056
7437190,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2023-07-31,272691.5190
7463563,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2023-08-31,273570.6807

## Mortgage Rate

In [142]:
# Step 1: Read CSV data into a pandas DataFrame with the first row as the header
mortgage = pd.read_csv('MORTGAGE30US.csv', header=0)
mortgage = mortgage.rename(columns={'MORTGAGE30US': 'Mortgage'})
mortgage['DATE'] = pd.to_datetime(mortgage['DATE'])

# Step2:  Groupby Year,Month to calculate mean mortgage rate and replace the date with last day of month
#         Last day of month is in order to stay consistent with zillow datasets to perform JOINS
mortgage['LastDayOfMonth'] = mortgage['DATE'] + pd.offsets.MonthEnd(0)

mortgage = mortgage.groupby('LastDayOfMonth')['Mortgage'].mean().reset_index()

mortgage.head()

  LastDayOfMonth  Mortgage
0     2000-02-29    8.3250
1     2000-03-31    8.2400
2     2000-04-30    8.1525
3     2000-05-31    8.5150
4     2000-06-30    8.2880

## Merging Datasets

In [143]:
## Merging Rentals and Home Value
merged_df = pd.merge(home_value_long, rentals_long[['RegionID', 'Date', 'Rent']], on=['RegionID', 'Date'], how='left')
merged_df

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,Date,Homevalue,Rent
0,91982,1,77494,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01-31,213207.4492,NaN
1,61148,2,8701,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01-31,138706.6188,NaN
2,91940,3,77449,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,104005.4040,NaN
3,62080,4,11368,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,149493.2119,NaN
4,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,102704.0686,NaN
...,...,...,...,...,...,...,...,...,...,...
7489927,78282,39992,46799,IN,Zanesville,"Bluffton, IN",Wells County,2023-08-31,183267.5920,NaN
7489928,67377,39992,22731,VA,Aroda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Madison County,2023-08-31,347596.3412,NaN
7489929,80861,39992,52163,IA,Protivin,NaN,Howard County,2023-08-31,111243.4936,NaN
7489930,69074,39992,26576,WV,Farmington,"Fairmont, WV",Marion County,2023-08-31,109080.1412,NaN
7489931,80190,39992,50160,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,2023-08-31,192598.2607,NaN

In [144]:
# Merging Mortgage 
merged_df = pd.merge(merged_df, mortgage, left_on='Date', right_on='LastDayOfMonth', how='left')
merged_df = merged_df.drop(['LastDayOfMonth'], axis=1)
merged_df

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,Date,Homevalue,Rent,Mortgage
0,91982,1,77494,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01-31,213207.4492,NaN,NaN
1,61148,2,8701,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01-31,138706.6188,NaN,NaN
2,91940,3,77449,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,104005.4040,NaN,NaN
3,62080,4,11368,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,149493.2119,NaN,NaN
4,91733,5,77084,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,102704.0686,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7489927,78282,39992,46799,IN,Zanesville,"Bluffton, IN",Wells County,2023-08-31,183267.5920,NaN,7.072
7489928,67377,39992,22731,VA,Aroda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Madison County,2023-08-31,347596.3412,NaN,7.072
7489929,80861,39992,52163,IA,Protivin,NaN,Howard County,2023-08-31,111243.4936,NaN,7.072
7489930,69074,39992,26576,WV,Farmington,"Fairmont, WV",Marion County,2023-08-31,109080.1412,NaN,7.072
7489931,80190,39992,50160,IA,Martensdale,"Des Moines-West Des Moines, IA",Warren County,2023-08-31,192598.2607,NaN,7.072